# fly.toml app configuration file generated for tuist-documents on 2024-07-26T12:56:17+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'tuist-documents'
primary_region = 'cdg'
kill_signal = 'SIGINT'
kill_timeout = '30s'

[env]
  NEXT_PUBLIC_WEBAPP_URL="https://documents.tuist.io"
  NEXTAUTH_URL="https://documents.tuist.io"
  PORT="8080"
  NEXT_PRIVATE_SMTP_TRANSPORT="smtp-auth"
  NEXT_PRIVATE_SMTP_PORT="465"
  NEXT_PRIVATE_SMTP_FROM_NAME="Tuist Documents"
  NEXT_PUBLIC_UPLOAD_TRANSPORT="s3"

[experimental]
  cmd = ['node', 'apps/web/server.js', '-p', '$PORT']

[build]
  dockerfile = 'Dockerfile'

[deploy]
  release_command = 'npx prisma migrate deploy --schema ./packages/prisma/schema.prisma'

[[services]]
  protocol = 'tcp'
  internal_port = 8080
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1

  [[services.ports]]
    port = 80
    handlers = ['http']
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

    [services.ports.http_options]
      [services.ports.http_options.response]
        [services.ports.http_options.response.headers]
          Referrer-Policy = 'strict-origin-when-cross-origin'
          Strict-Transport-Security = 'max-age=63072000; includeSubDomains'
          X-Content-Type-Options = 'nosniff'
          X-Frame-Options = 'SAMEORIGIN'

  [services.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 800

  [[services.tcp_checks]]
    interval = '15s'
    timeout = '2s'
    grace_period = '1s'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[[statics]]
  guest_path = 'public'
  url_prefix = '/uploads'
